<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.hvy.blog.modules.category.adapter.out.persistence.mapper.CategoryRDBMapper">

  <select id="findAllCategory" resultType="CategoryFlatResponse">
    SELECT Id, Name, `Order`, FullName, ParentId
    FROM tb_category
    ORDER BY FullName
  </select>

  <update id="updateFullName" statementType="CALLABLE">
    {call usp_category_fullname_update()}
  </update>

</mapper>