<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.hvy.blog.modules.category.repository.mapper.CategoryMapper">

  <select id="findAllCategory" resultType="CategoryFlatResponse">
    SELECT id, name, seq AS "order", full_name, parent_id
    FROM tb_category
    ORDER BY full_name
  </select>

  <update id="updateFullName">
    SELECT usp_category_fullname_update()
  </update>

</mapper>
