<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.hvy.blog.modules.post.repository.mapper.PostMapper">

    <resultMap id="noBodyContent" type="PostNoBodyResponse">
        <id property="id" column="ID"/>
        <result property="subject" column="SUBJECT"/>
        <result property="categoryName" column="CATEGORY_NAME"/>
        <result property="viewCount" column="VIEW_COUNT"/>
        <result property="createDate" column="CREATE_DATE"/>
        <result property="updateDate" column="UPDATE_DATE"/>
    </resultMap>

    <select id="findBySearchObject" parameterType="SearchObject" resultMap="noBodyContent">
        SELECT
        p.id,
        p.subject AS SUBJECT,
        cat.name AS CATEGORY_NAME,
        p.view_count AS VIEW_COUNT,
        p.created_at AS CREATE_DATE,
        p.updated_at AS UPDATE_DATE
        FROM tb_post AS p
        LEFT JOIN tb_category cat ON p.category_id = cat.id
        LEFT JOIN tb_post_tag_map AS MAP ON MAP.post_id = p.id
        <where>
            <if test='isAdmin == false'>
                AND p.public_access = true
            </if>
            <if test='categories.size > 0'>
                AND p.category_id IN (
                SELECT id
                FROM tb_category
                WHERE
                <foreach collection="categories" item="category" separator=" OR ">
                    /* TODO : 당장은 양쪽 라이크로 하지만 차후에는 category.id를 가지고 fullpath를 가져온 다음 fullpath로 like 검색을 하자 */
                    cat.full_path LIKE CONCAT('%/', #{category.id}, '/%')
                </foreach>
                )
            </if>
            <if test='searchCondition.keywords.size > 0'>
                <if test='searchCondition.logic.equals("AND")'>
                    AND
                    <foreach collection="searchCondition.keywords" index="index" item="key" open="(" separator=" AND " close=")">
                        <choose>
                            <when test='searchType.code.equals("TITLE")'>
                                LOWER(p.subject) LIKE CONCAT('%', LOWER(#{key.name}), '%')
                            </when>
                            <when test='searchType.code.equals("CONTENT")'>
                                LOWER(p.normal_body) LIKE CONCAT('%', LOWER(#{key.name}), '%')
                            </when>
                            <otherwise>
                                LOWER(p.subject) LIKE CONCAT('%', LOWER(#{key.name}), '%') OR LOWER(p.normal_body) LIKE CONCAT('%', LOWER(#{key.name}), '%')
                            </otherwise>
                        </choose>
                    </foreach>
                </if>
                <if test='!searchCondition.logic.equals("AND")'>
                    AND
                    <foreach collection="searchCondition.keywords" index="index" item="key" open="(" separator=" OR " close=")">
                        <choose>
                            <when test='searchType.code.equals("TITLE")'>
                                LOWER(p.subject) LIKE CONCAT('%', LOWER(#{key.name}), '%')
                            </when>
                            <when test='searchType.code.equals("CONTENT")'>
                                LOWER(p.normal_body) LIKE CONCAT('%', LOWER(#{key.name}), '%')
                            </when>
                            <otherwise>
                                LOWER(p.subject) LIKE CONCAT('%', LOWER(#{key.name}), '%') OR LOWER(p.normal_body) LIKE CONCAT('%', LOWER(#{key.name}), '%')
                            </otherwise>
                        </choose>
                    </foreach>
                </if>
            </if>
            <if test='tags.size > 0'>
                AND map.tag_id IN
                <foreach collection="tags" item="tag" open="(" separator=", " close=")">
                    #{tag.id}
                </foreach>
            </if>
        </where>
        GROUP BY p.id, p.subject, cat.name, p.view_count, p.created_at, p.updated_at

    </select>

  <select id="findPrevNextById" resultType="PostPrevNextResponse">
    SELECT
    COALESCE((
    <![CDATA[
         SELECT id
           FROM tb_post
          WHERE id < #{id}
         ]]>
    <if test='isAdmin == false'>
      AND public_access = true
    </if>
    ORDER BY id DESC
    LIMIT 1), 0) AS PREV
    , COALESCE((SELECT id
    FROM tb_post
    WHERE id > #{id}
    <if test='isAdmin == false'>
      AND public_access = true
    </if>
    ORDER BY id ASC
    LIMIT 1), 0) AS NEXT
  </select>

    <select id="findByTempPosts" resultType="Long">
        SELECT id
          FROM tb_post
         WHERE subject is null OR subject = ''
    </select>

    <select id="findByPublicPosts" resultType="Long">
        SELECT id
          FROM tb_post
         WHERE public_access = true
    </select>

    <update id="setMainPost" parameterType="java.lang.Long">
        UPDATE tb_post
        SET main_page = CASE WHEN id = #{id} THEN TRUE ELSE FALSE END
    </update>

</mapper>
