<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.hvy.blog.modules.post.adapter.out.persistence.mapper.PostRDBMapper">

    <resultMap id="noBodyContent" type="PostNoBodyResponse">
        <id property="id" column="ID"/>
        <result property="subject" column="SUBJECT"/>
        <result property="categoryName" column="CATEGORY_NAME"/>
        <result property="viewCount" column="VIEW_COUNT"/>
        <result property="createDate" column="CREATE_DATE"/>
        <result property="updateDate" column="UPDATE_DATE"/>
    </resultMap>

    <select id="findBySearchObject" parameterType="SearchObject" resultMap="noBodyContent">
        SELECT SQL_CALC_FOUND_ROWS
        p.id,
        p.subject AS SUBJECT,
        cat.name AS CATEGORY_NAME,
        p.viewCount AS VIEW_COUNT,
        p.createdAt AS CREATE_DATE,
        p.updatedAt AS UPDATE_DATE
        FROM tb_post AS p
        LEFT JOIN tb_category cat ON p.categoryId = cat.id
        LEFT JOIN tb_post_tag_map AS MAP ON MAP.postId = p.id
        <where>
            <if test='isAdmin == false'>
                AND c.publicAccess = 1
            </if>
            <if test='obj.categories.size > 0'>
                AND c.categoryId IN (
                SELECT c.id
                FROM tb_category
                WHERE
                <foreach collection="obj.categories" item="category" separator=" OR ">
                    /* TODO : 당장은 양쪽 라이크로 하지만 차후에는 category.id를 가지고 fullpath를 가져온 다음 fullpath로 like 검색을 하자 */
                    cat.fullPath LIKE CONCAT('%/', #{category.id}, '/%')
                </foreach>
                )
            </if>
            <if test='obj.searchCondition.keywords.size > 0'>
                <if test='obj.searchCondition.logic.equals("AND")'>
                    AND
                    <foreach collection="obj.searchCondition.keywords" index="index" item="key" open="(" separator=" AND " close=")">
                        <choose>
                            <when test='obj.searchType.code.equals("TITLE")'>
                                p.subject LIKE CONCAT('%', #{key.name}, '%')
                            </when>
                            <when test='obj.searchType.code.equals("CONTENT")'>
                                p.normalBody LIKE CONCAT('%', #{key.name}, '%')
                            </when>
                            <otherwise>
                                p.subject LIKE CONCAT('%', #{key.name}, '%') OR p.normalBody LIKE CONCAT('%', #{key.name}, '%')
                            </otherwise>
                        </choose>
                    </foreach>
                </if>
                <if test='!obj.searchCondition.logic.equals("AND")'>
                    AND
                    <foreach collection="obj.searchCondition.keywords" index="index" item="key" open="(" separator=" OR " close=")">
                        <choose>
                            <when test='obj.searchType.code.equals("TITLE")'>
                                p.subject LIKE CONCAT('%', #{key.name}, '%')
                            </when>
                            <when test='obj.searchType.code.equals("CONTENT")'>
                                p.normalBody LIKE CONCAT('%', #{key.name}, '%')
                            </when>
                            <otherwise>
                                p.subject LIKE CONCAT('%', #{key.name}, '%') OR p.normalBody LIKE CONCAT('%', #{key.name}, '%')
                            </otherwise>
                        </choose>
                    </foreach>
                </if>
            </if>
            <if test='obj.tags.size > 0'>
                AND map.tagId IN
                <foreach collection="obj.tags" item="tag" open="(" separator=", " close=")">
                    #{tag.id}
                </foreach>
            </if>
        </where>
        GROUP BY p.Id , p.subject , cat.name , p.viewCount , p.createdAt , p.updatedAt
        ORDER BY p.createdAt DESC
        LIMIT #{obj.offset}, #{obj.pageSize}
    </select>

    <select id="findPrevNextById" resultType="PostPrevNextResponse">
        SELECT
        (
        <![CDATA[
         SELECT ID
           FROM TB_POST
          WHERE ID < #{id}
         ]]>
        <if test='isAdmin == false'>
            AND publicAccess = 1
        </if>
        ORDER BY ID DESC
        LIMIT 1) AS PREV
        , (SELECT ID
        FROM TB_POST
        WHERE ID > #{id}
        <if test='isAdmin == false'>
            AND publicAccess = 1
        </if>
        ORDER BY ID ASC
        LIMIT 1) AS NEXT
        FROM DUAL;
    </select>

    <select id="findByTempPosts" resultType="Long">
        SELECT ID
          FROM TB_POST
         WHERE subject is null OR subject = ''
    </select>

    <select id="findByPublicPosts" resultType="Long">
        SELECT ID
          FROM TB_POST
         WHERE publicAccess = 1
    </select>

    <update id="setMainPost" parameterType="java.lang.Long" statementType="CALLABLE">
        UPDATE TB_POST
        SET mainPage = IF(Id = #{id}, TRUE, FALSE)
    </update>

</mapper>