<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.hvy.blog.modules.log.repository.mapper.SystemLogMapper">

    <select id="findBySearchRequest" parameterType="kr.hvy.blog.modules.log.application.dto.SystemLogSearchRequest"
            resultType="kr.hvy.blog.modules.log.application.dto.SystemLogSearchResponse">
        SELECT
            id,
            traceId,
            spanId,
            requestUri,
            controllerName,
            methodName,
            httpMethodType,
            paramData,
            responseBody,
            stackTrace,
            remoteAddr,
            processTime,
            status,
            createdAt,
            createdBy
        FROM tb_system_log
        <where>
            <if test="id != null">
                AND id = #{id}
            </if>
            <if test="traceId != null and traceId != ''">
                AND traceId = #{traceId}
            </if>
            <if test="spanId != null and spanId != ''">
                AND spanId = #{spanId}
            </if>
            <if test="requestUri != null and requestUri != ''">
                AND requestUri LIKE CONCAT('%', #{requestUri}, '%')
            </if>
            <if test="controllerName != null and controllerName != ''">
                AND controllerName LIKE CONCAT('%', #{controllerName}, '%')
            </if>
            <if test="methodName != null and methodName != ''">
                AND methodName LIKE CONCAT('%', #{methodName}, '%')
            </if>
            <if test="httpMethodType != null and httpMethodType != ''">
                AND httpMethodType = #{httpMethodType}
            </if>
            <if test="paramData != null and paramData != ''">
                AND paramData LIKE CONCAT('%', #{paramData}, '%')
            </if>
            <if test="responseBody != null and responseBody != ''">
                AND responseBody LIKE CONCAT('%', #{responseBody}, '%')
            </if>
            <if test="stackTrace != null and stackTrace != ''">
                AND stackTrace LIKE CONCAT('%', #{stackTrace}, '%')
            </if>
            <if test="remoteAddr != null and remoteAddr != ''">
                AND remoteAddr = #{remoteAddr}
            </if>
            <if test="status != null">
                AND status = #{status}
            </if>
            <if test="createdAtFrom != null">
                AND createdAt &gt;= #{createdAtFrom}
            </if>
            <if test="createdAtTo != null">
                AND createdAt &lt;= #{createdAtTo}
            </if>
        </where>
        <!-- PageInterceptor가 자동으로 ORDER BY와 LIMIT 추가 -->
    </select>

</mapper>
