<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.hvy.blog.modules.log.repository.mapper.SystemLogMapper">

    <select id="findBySearchRequest" parameterType="kr.hvy.blog.modules.log.application.dto.SystemLogSearchRequest"
            resultType="kr.hvy.blog.modules.log.application.dto.SystemLogSearchResponse">
        SELECT
            id,
            trace_id AS traceId,
            span_id AS spanId,
            request_uri AS requestUri,
            controller_name AS controllerName,
            method_name AS methodName,
            http_method_type AS httpMethodType,
            param_data AS paramData,
            response_body AS responseBody,
            stack_trace AS stackTrace,
            remote_addr AS remoteAddr,
            process_time AS processTime,
            status,
            created_at AS createdAt,
            created_by AS createdBy
        FROM tb_system_log
        <where>
            <if test="id != null">
                AND id = #{id}
            </if>
            <if test="traceId != null and traceId != ''">
                AND trace_id = #{traceId}
            </if>
            <if test="spanId != null and spanId != ''">
                AND span_id = #{spanId}
            </if>
            <if test="requestUri != null and requestUri != ''">
                AND request_uri LIKE CONCAT('%', #{requestUri}, '%')
            </if>
            <if test="controllerName != null and controllerName != ''">
                AND controller_name LIKE CONCAT('%', #{controllerName}, '%')
            </if>
            <if test="methodName != null and methodName != ''">
                AND method_name LIKE CONCAT('%', #{methodName}, '%')
            </if>
            <if test="httpMethodType != null and httpMethodType != ''">
                AND http_method_type = #{httpMethodType}
            </if>
            <if test="paramData != null and paramData != ''">
                AND param_data LIKE CONCAT('%', #{paramData}, '%')
            </if>
            <if test="responseBody != null and responseBody != ''">
                AND response_body LIKE CONCAT('%', #{responseBody}, '%')
            </if>
            <if test="stackTrace != null and stackTrace != ''">
                AND stack_trace LIKE CONCAT('%', #{stackTrace}, '%')
            </if>
            <if test="remoteAddr != null and remoteAddr != ''">
                AND remote_addr = #{remoteAddr}
            </if>
            <if test="status != null">
                AND status = #{status}
            </if>
            <if test="createdAtFrom != null">
                AND created_at &gt;= #{createdAtFrom}
            </if>
            <if test="createdAtTo != null">
                AND created_at &lt; #{createdAtTo}::timestamp + INTERVAL '1 day'
            </if>
        </where>
        <!-- PageInterceptor가 자동으로 ORDER BY와 LIMIT 추가 -->
    </select>

</mapper>
